@import '../../constants.scss';

.project {
  border-radius: 25px;
  margin: 20px;
  transition: height 1.5s, transform 1.5s;
}

.project:hover {
  height: auto;
  box-shadow:
    0 0 0.6rem $red1,
    0 0 1.5rem $red2,
    -0.2rem 0.1rem 1rem $red2,
    0.2rem 0.1rem 1rem $red2,
    0 -0.5rem 2rem $red3,
    0 0.5rem 3rem $red3;
}

.project img {
  border-radius: 25px 25px 0 0;
  width: 40vw;
  height: 330px;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .project img {
    width: 60vw;
    height: 300px;
    object-fit: cover;
  }

  .project {
    height: 370px;
  }
}

@media (max-width: 600px) {
  .project img {
    width: 80vw;
    height: 300px;
    object-fit: cover;
  }

  .project {
    height: 350px;
  }
}

@media (max-width: 400px) {
  .project img {
    width: 80vw;
    height: 200px;
    object-fit: cover;
  }

  .project {
    height: 250px;
  }
}

.content {
  font-family: 'Quicksand', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -1;
  border-radius: 0 0 25px 25px;
  transform: translateY(-140px);
  transition: transform 1.5s;
  background: $glass;
  box-shadow: 0 4px 30px $red4;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top: none;
  border: 1px solid $glass;
}

.content:hover {
  transform: translateY(0);
  position: relative;
  z-index: 1;
}

.project:hover .content {
  transform: translateY(0);
  position: relative;
  z-index: 1;
}

.name {
  font-family: 'Clip', serif;
  font-size: 22px;
  padding: 10px;
  text-shadow:
    0 0 0.6rem $red1,
    0 0 1.5rem $red2,
    -0.2rem 0.1rem 1rem $red2,
    0.2rem 0.1rem 1rem $red2,
    0 -0.5rem 2rem $red3,
    0 0.5rem 3rem $red3;
}

.techsBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.tech {
  padding: 5px;
  border: 1px solid $red3;
  border-radius: 5px;
  font-weight: bold;
}

.tech:hover {
  background-color: $red3;
  color: #fff;
}

@font-face {
  font-family: 'Storytime';
  src: url("../../assets/fonts/Storytime.ttf");
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  font-family: 'Storytime', serif;
  font-size: 22px;
  line-height: 15px;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 13px 0;
}

.more {
  border: none;
  background-color: transparent;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: $red3;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}

.more:hover {
  background: $red3;
  color: #fff;
  border-radius: 5px;
  box-shadow:
    0 0 5px $red3,
    0 0 25px $red3,
    0 0 50px $red3,
    0 0 100px $red3;
}