@import '../../constants.scss';

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: white;
  font-family: 'Clip', serif;
  text-align: center;
  font-size: 20px;
  text-shadow:
    0 0 0.6rem $red1,
    0 0 1.5rem $red2,
    -0.2rem 0.1rem 1rem $red2,
    0.2rem 0.1rem 1rem $red2,
    0 -0.5rem 2rem $red3,
    0 0.5rem 3rem $red3;
}

.box {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.card {
  background-color: $glass;
  width: 300px;
  border-radius: 25px;
  margin: 0 10px;
  padding: 0 20px;
}

.card:hover {
  box-shadow: 0 4px 30px $red4;
}

.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 15px 0;
  font-size: 16px;
  font-weight: bold;
  text-shadow: none;
}

.skill {
  padding: 5px 10px;
  border: 1px solid $red3;
  border-radius: 5px;
  font-weight: bold;
  margin: 5px 2px;
  color: white;
}

.skill:hover {
  text-shadow:
    0 0 0.6rem $red1,
    0 0 1.5rem $red2,
    -0.2rem 0.1rem 1rem $red2,
    0.2rem 0.1rem 1rem $red2,
    0 -0.5rem 2rem $red3,
    0 0.5rem 3rem $red3;
}
