@import '../../constants.scss';

.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0 50px 30px 50px;
  height: 80vh;
}

@media (max-width: 1377px) {
  .contact {
    height: auto;
  }
}

.contactText {
  border-radius: 10px;
  font-size: 30px;
  font-family: 'Clip', serif;
  padding: 50px;
  line-height: 50px;
  color: white;
  text-shadow:
    0 0 0.6rem $red1,
    0 0 1.5rem $red2,
    -0.2rem 0.1rem 1rem $red2,
    0.2rem 0.1rem 1rem $red2,
    0 -0.5rem 2rem $red3,
    0 0.5rem 3rem $red3;
}

.contactForm {
  position: relative;
  z-index: 1;
  width: 400px;
  padding: 20px 40px;
  background: $blueGlass;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

.contactForm h2 {
  font-family: 'Clip', serif;
  margin: 10px 0 20px 0;
  padding: 0;
  color: $text;
  text-align: center;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  left: 0;
  color: $red2;
  opacity: 0.5;
  font-size: 14px;
}

.contactForm .userBox input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: $text;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid $text;
  outline: none;
  background: transparent;
  cursor: $laser;
}

.contactForm .userBox textarea {
  width: 100%;
  height: 100px;
  padding: 10px 0;
  font-size: 16px;
  color: $text;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid $text;
  outline: none;
  background: transparent;
  cursor: $laser;
}

.resumeBox {
  text-align: center;
}

.resume {
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin-top: 80px;
  padding: 10px 20px;
}

.resume a {
  color: white;
}

.contactForm form button {
  font-family: 'Quicksand', serif;
  border: none;
  background-color: transparent;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  color: $red3;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
}

.resume:hover,
.contactForm button:hover {
  background: $red3;
  color: $text;
  border-radius: 5px;
  box-shadow:
    0 0 5px $red3,
    0 0 25px $red3,
    0 0 50px $red3,
    0 0 100px $red3;
}

.resume span,
.contactForm button span {
  position: absolute;
  display: block;
}

.resume span:nth-child(1),
.contactForm button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, $red2);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,
  100% {
    left: 100%;
  }
}

.resume span:nth-child(2),
.contactForm button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, $red2);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }

  50%,
  100% {
    top: 100%;
  }
}

.resume span:nth-child(3),
.contactForm button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, $red2);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }

  50%,
  100% {
    right: 100%;
  }
}

.resume span:nth-child(4),
.contactForm button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, $red2);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }

  50%,
  100% {
    bottom: 100%;
  }
}

.divider {
  box-sizing: content-box;
  box-shadow: inset 0 0 5px $red2;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to right, $red1, $red2, $red3, $red4);
  border-image-slice: 1;
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 20px 0;
}

.profile {
  margin: 0 10px;
}

.profile:hover {
  filter: drop-shadow(0 0 0.6rem $red1) drop-shadow(0 0 1.5rem $red2) drop-shadow(-0.2rem 0.1rem 1rem $red3);
}
