@import './scss/constants.scss';

html {
  height: 100%;
}

body {
  cursor: url("./assets/design/spot48.png") 15 15, auto !important;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #080808;
  background-image: url("./assets/design/dark-brick-wall.png");
  overflow-x: hidden;
}

button {
  cursor: url("./assets/design/spot48.png") 15 15, auto !important;
}

a {
  text-decoration: none;
  cursor: url("./assets/design/spot48.png") 15 15, auto !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $red2;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $red3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $red2;
}
