html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  cursor: url("./assets/design/spot32.png"), auto;
  background-color: #080808;
  background-image: url("./assets/design/dark-brick-wall.png");
}

button {
  cursor: url("./assets/design/spot48.png"), auto;
}
