@import './constants.scss';

.card {
  border-radius: 25px;
  margin: 20px;
  transition: height 1.5s, transform 1.5s;
}

.card:hover {
  height: auto;
  box-shadow:
    0 0 0.6rem $red1,
    0 0 1.5rem $red2,
    -0.2rem 0.1rem 1rem $red2,
    0.2rem 0.1rem 1rem $red2,
    0 -0.5rem 2rem $red3,
    0 0.5rem 3rem $red3;
}

.card img {
  border-radius: 25px 25px 0 0;
  width: 40vw;
  height: 400px;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .card img {
    width: 80vw;
    height: 400px;
    object-fit: cover;
  }

  .card {
    height: 470px;
  }
}

@media (max-width: 600px) {
  .card img {
    width: 80vw;
    height: 300px;
    object-fit: cover;
  }

  .card {
    height: 350px;
  }
}

@media (max-width: 400px) {
  .card img {
    width: 80vw;
    height: 200px;
    object-fit: cover;
  }

  .card {
    height: 250px;
  }
}

.content {
  font-family: 'Quicksand', serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -1;
  border-radius: 0 0 25px 25px;
  transform: translateY(-125px);
  transition: transform 1.5s;
  background: rgba(42, 53, 81, 0.3);
  box-shadow: 0 4px 30px rgba(255, 9, 9, 0.4);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top: none;
  border: 1px solid rgba(42, 53, 81, 0.3);
}

.content:hover {
  transform: translateY(0);
  position: relative;
  z-index: 1;
}

.card:hover .content {
  transform: translateY(0);
  position: relative;
  z-index: 1;
}

.name {
  font-family: 'Clip', serif;
  font-size: 22px;
  padding: 10px;
  text-shadow:
    0 0 0.6rem $red1,
    0 0 1.5rem $red2,
    -0.2rem 0.1rem 1rem $red2,
    0.2rem 0.1rem 1rem $red2,
    0 -0.5rem 2rem $red3,
    0 0.5rem 3rem $red3;
}

.techsBox {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.tech {
  padding: 5px;
  border: 1px solid $red3;
  border-radius: 5px;
}

@font-face {
  font-family: 'JustSignature';
  src: url("../assets/fonts/JustSignature.ttf");
}

.brief {
  padding: 5px;
  font-family: 'JustSignature', serif;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  border: none;
  background-color: transparent;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: $red3;
  font-size: 16px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 4px;
  cursor: url("../assets/design/spot48.png"), auto;
}

a:hover {
  background: $red3;
  color: #fff;
  border-radius: 5px;
  box-shadow:
    0 0 5px $red3,
    0 0 25px $red3,
    0 0 50px $red3,
    0 0 100px $red3;
}
