@import './constants.scss';

.phrase {
  font-family: 'Clip', serif;
  font-size: 20px;
  height: 43vh;
  padding-top: 150px;
  color: white;
  text-align: center;
  text-shadow:
    0 0 0.6rem $red1,
    0 0 1.5rem $red2,
    -0.2rem 0.1rem 1rem $red2,
    0.2rem 0.1rem 1rem $red2,
    0 -0.5rem 2rem $red3,
    0 0.5rem 3rem $red3;
}

.downArrow {
  display: flex;
  justify-content: center;
  width: 100%;
  color: red;
  margin-bottom: 120px;
  animation: bounce 1s alternate-reverse infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

svg {
  filter: drop-shadow(0 0 0.6rem $red1) drop-shadow(0 0 1.5rem $red2) drop-shadow(-0.2rem 0.1rem 1rem $red2) drop-shadow(0.2rem 0.1rem 1rem $red2) drop-shadow(0 -0.5rem 2rem $red3) drop-shadow(0 0.5rem 3rem $red3);
}

.profiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin-bottom: 30px;
}

.profile {
  margin: 0 10px;
}

@media (max-width: 1000px) {
  .phrase {
    padding: 100px 50px 0 50px;
  }
}
