// $bg: #141114;
// $dark1: #ffe6ff;
// $dark2: #ff65bd;
// $dark3: #ff2483;
// $dark4: #6b1839;
// $blue: #03e9f4;

$bg: black;
$red1: #ffe6e6;
$red2: #ff6565;
$red3: #ff2424;
$red4: #6b1818;

$text: #03e9f4;
