@import './constants.scss';

.displayCards {
  color: white;
  margin: 40px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.myRecentWorks {
  font-family: 'Clip', serif;
  text-align: center;
  color: white;
  text-shadow:
    0 0 0.6rem $red1,
    0 0 1.5rem $red2,
    -0.2rem 0.1rem 1rem $red2,
    0.2rem 0.1rem 1rem $red2,
    0 -0.5rem 2rem $red3,
    0 0.5rem 3rem $red3;
}
