@import './constants.scss';

.box {
  padding: 5px 50px;
  margin-bottom: 50px;
  text-align: center;
}

.box h2 {
  font-family: 'Clip', serif;
  color: $text;
}

.cardBox {
  border-radius: 10px;
  padding-bottom: 10px;
  display: flex;
  overflow-x: auto;
}
