@import '../../constants.scss';

.nav {
  background-color: $glass;
  height: 70px;
}

.desktopNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Clip', serif;
  color: white;
  height: 70px;
  font-size: 20px;
}

.mobileNav {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 70px;
  filter: drop-shadow(0 0 0.4rem $red1) drop-shadow(0 0 0.8rem $red2) drop-shadow(0 0 1.2rem $red3);
}

.mobileNav img {
  height: 50px;
  width: 50px;
  margin-right: 30px;
}

@media (max-width: 650px) {
  .desktopNav {
    display: none;
  }
}

@media (min-width: 650px) {
  .mobileNav {
    display: none;
  }
}

.desktopNav a:hover {
  color: white;
  text-shadow:
    0 0 6px $red1,
    0 0 12px $red2,
    0 0 16px $red3,
    0 0 20px $red4;
}

.active {
  color: white;
  text-shadow:
    0 0 6px $red1,
    0 0 12px $red2,
    0 0 16px $red3,
    0 0 20px $red4;
}

.inactive {
  color: white;
}
