@import '../../constants.scss';

.nav {
  font-family: 'Clip', serif;
  font-size: 20px;
  background-color: $glass;
  color: white;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.active {
  color: white;
  text-shadow:
    0 0 6px $red1,
    0 0 12px $red2,
    0 0 16px $red3,
    0 0 20px $red4;
}

.inactive {
  color: white;
}
